STRIPE_SECRET_KEY=sk_live_51TGJfyQQ45s7UxAUjanm3A1W8vUdFymxmFyw9Fns3xztGvEWcfu4W7a97WmhUhdRZ3wyBpoVwkknfRR4YhgMht3s00Nhptjbxxxxxxxxxxxxxx
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/?appName=caravanas
MONGODB_DB_NAME=caravanas
APP_URL=http://localhost:5173
VITE_API_BASE_URL=http://localhost:4242
PORT=4242